<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="UTF-8">
    <title>TheAtlantic Article Scraper</title>
    <!-- Linking Materialize CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- Materialize Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Linking my CSS --> 
    <link rel='stylesheet' href='css/style.css'>
  </head>
  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="side-nav" id="mobile">
            <li><a href='/'>Articles</a></li>
            <li><a href='/scrape'>Scrape</a></li>
            {{#if currentUser}}
              <li><a href='/dashboard'>Dashboard</a></li>
              <li><a href='/logout'>Logout</a></li>
            {{else}}
              <li><a href="/register">Register</a></li>
              <li><a href='/login'>Login</a></li>
            {{/if}}
          </ul>
          <a href="/" class="brand-logo">The Atlantic News Scraper</a>
          <ul class="right hide-on-med-and-down">
            <li><a href='/'>Articles</a></li>
            <li><a href='/scrape'>Scrape</a></li>
            {{#if currentUser}}
              <li><a href='/dashboard'>Dashboard</a></li>
              <li><a href='/logout'>Logout</a></li>
            {{else}}
              <li><a href="/register">Register</a></li>
              <li><a href='/login'>Login</a></li>
            {{/if}}
          </ul>
        </div>
      </nav>
    </div>
    

    <div class='container'>
      {{{ body }}}
    </div>

    <!-- Linking scripts -->
    <!-- jQuery -->
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <!-- Materialize JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <!-- Linking my JS -->
    <script src='js/app.js'></script>
  </body>
</html>