

<div class='row'>
  <div clas='col s12'>
    <p>Hello World! This is working!</p>
  </div>
</div>
<div class='row'>
  <div class='col s12'>
    <ul class='articles'>Articles</ul>
      {{#each articles}}
        <li class='article'>
          <p>Title: {{this.title}}</p> 
          <img src={{this.url}} style='height:100px;width:100px;'>
          <p>Summary: {{this.summary}}</p>
          <p>Link: {{this.link}}</p>
        </li>
      {{/each}}
  </div>
</div>

        









