<div class='row'>
  <div class='col s12'>
    <form action='/login' method='post'>
      <div class='input-field col s12'>
        <input name='email' type='text'>
        <label for='email'>Email</label>
      </div>
      <div class='input-field col s12'>
        <input name='password' type='password'>
        <label for='password'>Password</label>
      </div>
      <button type='submit' name='action'>Submit</button>
    </form>
  </div>
</div>